#timer {
  float: right;
  padding-right: 10px;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
#headingStart {
  margin-top: 12%;
}
#startQuizBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
